repos:
  - repo: https://github.com/JohnnyMorganz/StyLua
    rev: v2.0.2
    hooks:
      - id: stylua-github

  - repo: local
    hooks:
      - id: selene
        name: selene
        entry: selene
        language: system
        types: [lua]
        pass_filenames: true
